<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> ESTIAM </title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <%- include ("./includes/style.ejs") %>

</head>

<body>

    <%- include ("./includes/header.ejs") %>
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">

            <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
                <h1>ESTIAM </h1>
                <h2>Track “ESTIAM” hashtag</h2>
                <a href="#about" class="btn-get-started scrollto">Bienvenue à l’Éstiam !</a>
                <img src="/img/hero-img.png" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
            </div>

        </section>
        <!-- End Hero -->

        <main id="main">hashtag
            <a class="btn btn-block btn-lg btn-primary" href="/hashtag">hashtag ESTIAM</a>
            <a class="btn btn-block btn-lg btn-primary" href="/LikeESTIAM">LikeESTIAM</a>
        </main>
        <!-- End #main -->

        <%- include ("./includes/footer.ejs") %>

            <div id="preloader"></div>
            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

            <!-- Vendor JS Files -->
            <script src="/vendor/aos/aos.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/vendor/glightbox/js/glightbox.min.js"></script>
            <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="/vendor/swiper/swiper-bundle.min.js"></script>

            <!-- Template Main JS File -->
            <script src="/main.js"></script>

</body>

</html>